# **THEORY**

1.  What are data structures, and why are they important ?

Ans:
*  Data structures are ways of organizing and storing data to perform operations
efficiently.
*  They are important because they help manage large amounts of data
efficiently, making programs more organized and optimizing resource use.

2.  They are important because they help manage large amounts of data
efficiently, making programs more organized and optimizing resource use ?

Ans:
* Mutable data types can be changed after creation (e.g., lists, dictionaries),
while immutable types cannot (e.g., strings, tuples). For example, you can
append to a list, but you cannot change characters in a string.

3. What are the main differences between lists and tuples in Python ?

Ans:
* Lists are mutable and defined with square brackets [], while tuples are
immutable and defined with parentheses ().
* Lists are generally used when data
may change, tuples when it should remain constant.

4. Describe how dictionaries store data ?

Ans:
* Dictionaries store data as key-value pairs. Internally, they use a hash table
where the key is hashed to find the index at which the value is stored.

5.  Why might you use a set instead of a list in Python ?

Ans:
* Sets are used when you need to store unique elements and perform operations like
union and intersection efficiently.
* Unlike lists, sets automatically discard
duplicate values.

6.  What is a string in Python, and how is it different from a list ?

Ans:
* A string is an immutable sequence of characters, whereas a list is a mutable
sequence that can contain elements of different types including strings.

7. How do tuples ensure data integrity in Python ?

Ans:
* Tuples are immutable, meaning their elements cannot be changed after creation.
* This makes them reliable for storing fixed collections of data.

8. What is a hash table, and how does it relate to dictionaries in Python ?

Ans:
* A hash table is a data structure that maps keys to values using a hash function.
* Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python ?

Ans:
* Yes, Python lists can contain elements of different data types, such as
integers, strings, and even other lists.

10. Explain why strings are immutable in Python ?

Ans:
* Strings are immutable to ensure data integrity and optimize performance through
interning and memory sharing.

11. What advantages do dictionaries offer over lists for certain tasks ?

Ans:
* Dictionaries provide fast lookups via keys, which is more efficient than
searching through a list for a value.

12. Describe a scenario where using a tuple would be preferable over a list ?

Ans:
* Tuples are preferable when data should not change, such as coordinates (x, y) or
database records.

13.  How do sets handle duplicate values in Python ?

Ans:
* Sets automatically discard duplicate values and only keep unique elements.

14. How does the in keyword work differently for lists and dictionaries ?

Ans:
* For lists, 'in' checks if an element is in the list. For dictionaries, it checks
if a key exists, not a value.

15. Can you modify the elements of a tuple? Explain why or why not ?

Ans:
* No, tuples are immutable, so their elements cannot be modified after creation.

16. Q: What is a nested dictionary, and give an example of its use case ?

Ans:
* A nested dictionary is a dictionary within another dictionary.
*  It's useful for
representing hierarchical data, like student records categorized by class.

17. Describe the time complexity of accessing elements in a dictionary ?

Ans:
* The average time complexity for accessing elements in a dictionary is O(1),
thanks to hashing.

18. In what situations are lists preferred over dictionaries ?

Ans:
* Lists are preferred when the order of elements matters or when accessing by
index is needed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

Ans:
* Traditionally, dictionaries were unordered, meaning key order wasn't preserved.

* In Python 3.7+, they maintain insertion order, but retrieval is still by key,
not position

20. Explain the difference between a list and a dictionary in terms of data retrieval ?

Ans:
* Lists retrieve values by index, while dictionaries retrieve values by key,
making dictionaries more efficient for key-based lookups.

# **PRACTICAL**

In [2]:
# 1. Write a code to create a string with your name and print it ?
# Ans:
name = "shubham"
print(name)

shubham

In [3]:
# 2. Write a code to find the length of the string "Hello World"
# Ans:
s = "Hello World"
print(len(s))

11

In [4]:
 # 3. Write a code to slice the first 3 characters from the string "Python Programming"
# Ans:
s = "Python Programming"
print(s[:3])

Pyt

In [5]:
# 4. Write a code to convert the string "hello" to uppercase
# Ans:
s = "hello"
print(s.upper())

HELLO

In [6]:
# 4. Write a code to replace the word "apple" with "orange" in the string "I like apple"
# Ans:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [7]:
# 5. Write a code to create a list with numbers 1 to 5 and print it
# Ans:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
# 6. Write a code to append the number 10 to the list [1, 2, 3, 4]
# Ans:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [9]:
# 7. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
# Ans:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [10]:
# 8. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
# Ans:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [11]:
# 9. Write a code to reverse the list [10, 20, 30, 40, 50]
# Ans:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [12]:
# 10. Write a code to create a tuple with the elements 100, 200, 300 and print it
# Ans:
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

In [13]:
# 11. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
# Ans:
tpl = ('red', 'green', 'blue', 'yellow')
print(tpl[-2])

blue

In [14]:
# 12. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
# Ans:
tpl = (10, 20, 5, 15)
print(min(tpl))

5

In [15]:
# 13. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
# Ans:
tpl = ('dog', 'cat', 'rabbit')
print(tpl.index('cat'))

1

In [16]:
# 14. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
# Ans:
tpl = ("apple", "banana", "mango")
print("kiwi" in tpl)

False

In [17]:
# 15. Write a code to create a set with the elements 'a', 'b', 'c' and print it
# Ans:
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [18]:
# 16.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}
# Ans:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [19]:
# 17. Write a code to remove the element 4 from the set {1, 2, 3, 4}
# Ans:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [20]:
# 18. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
# Ans:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [21]:
# 19. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
# Ans:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [22]:
# 20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
# Ans:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [23]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
# Ans:
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [24]:
# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name':'John', 'age': 25}
# Ans:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
# Ans:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [26]:
# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
# Ans:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [27]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
# Ans:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
# Ans:
lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst)
print(tpl)
print(dct)

In [28]:
# 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
# Ans:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[8, 28, 46, 52, 54]

In [29]:
# 28. Write a code to create a list with strings and print the element at the third index
# Ans:
lst = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(lst[3])

date

In [30]:
# 29. Write a code to combine two dictionaries into one and print the result
# Ans:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# 30. Write a code to convert a list of strings into a set
# Ans:
lst = ['apple', 'banana', 'apple']
print(set(lst))

{'banana', 'apple'}